.container {
	width: 960px;
	height: 960px;
	margin: auto;
	background-color: #bccbde;
	border: solid 2px;
}

body {
	font-family: Helvetica;
}

}

header {
	color: #e05915;
	width: 300px;
	margin: auto;
	margin-top: -20px;
}

.titleTop {
	width: 500px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #e6e9f0;
	text-align: center;
	padding: 10px;
	border: solid 2px;
}

.functions buttons {
	width: 100px;
	margin: auto;
	display: inline-block;
	

}

.square {
	opacity: 0;
	background-color: #431c5d;
	margin: 0px;
	display: inline-block;
	float: left;
}

#reset {
	margin-right: 25px;
	width: 100px;
}

#randomColor {
	margin-right: 25px;
}

#gradual {
	width: 100px;
}